// CardsProjetos.module.scss
.card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); // Somente sombra, sem fundo
  overflow: hidden;
  width: 100%;
  max-width: 320px;
  align-items: flex-start;
  text-align: left; // garante alinhamento do texto
  transition: transform 0.3s ease-in-out;
  padding: 10px;

  /* Responsividade: ajuste no card para telas menores */
  @media (max-width: 768px) {
    max-width: 100%; /* Faz com que o card ocupe 100% da largura */
    padding: 15px; /* Aumenta o padding para que o card tenha mais espaço */
  }
}

.card:hover {
  transform: translateY(-10px); // Efeito de hover para o card
}

.imagem {
  width: 100%;
  height: auto;
  object-fit: contain; // mantém proporção da imagem sem cortar
  border-radius: 30px;

  @media (max-width: 768px) {
    border-radius: 15px; /* Reduz o border-radius em telas pequenas */
  }
}

.tags {
  font-size: 0.75rem;
  color: #ffffff;
  margin: 0.5rem 0;
}

.titulo {
  font-size: 1rem;
  font-weight: bold;
  margin: 10px 0 5px;
  color: #ffffff;

  @media (max-width: 768px) {
    font-size: 1.2rem; /* Aumenta o tamanho do título em telas pequenas */
  }
}

.descricao {
  font-size: 0.8rem;
  color: #ffffff;
  margin-bottom: 15px;
}

.botoes {
  display: flex;
  gap: 1rem;
  margin-top: 1rem;

  a {
    text-decoration: none;
  }

  button {
    border-radius: 18px;
    border: none;
    font-weight: 400;
    font-size: 12px;
    background-color: transparent;
    overflow: hidden;
    position: relative;

    div {
      padding: 8px 12px;
      height: 100%;
      width: 100%;
      border-radius: 18px;
      border: none;
      cursor: pointer;
    }

    .btn-face-white {
      background-color: white;
      color: rgb(51, 51, 51);
      z-index: 998;
    }

    .btn-face-purple {
      display: none;
      z-index: 999;
      position: absolute;
      top: 0;
    }

    &:hover {
      .btn-face-purple {
        display: flex;
        animation: appear 300ms linear 150ms forwards;
      }
    }

    /* Responsividade: ajusta o tamanho dos botões em telas pequenas */
    @media (max-width: 768px) {
      font-size: 10px; /* Reduz o tamanho da fonte */
      padding: 6px 10px;
    }
  }
}
