.categorias {
  display: flex;
  gap: 2rem;
  margin-bottom: 4rem;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}

.itemCategoria {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 8px;
}

.categoria {
  background: none;
  border: none;
  color: white;
  display: flex;
  align-items: center;
  gap: 0.8rem;
  cursor: pointer;
  font-size: 0.9rem;
  transition: 0.2s;

  &:hover {
    background-color: #351348;
  }
}

.ativa {
  background-color: #351348;
  transform: scale(1.2);
}

.icone {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  transition: transform 0.3s ease;
  background: linear-gradient(45deg, #7223cf, #da2eb8);
  -webkit-background-clip: text; /* Usa o fundo para recortar o texto */
  -webkit-text-fill-color: transparent; /* Torna o interior do texto transparente para exibir o gradiente */
  cursor: pointer;
}

.iconeTodos {
  color: linear-gradient(45deg, #7223cf, #da2eb8);
}

.ativa .icone {
  transform: scale(1.3);
}

.nome {
  margin-top: 10px;
  font-size: 14px;
  text-align: center;
}
