@import "styles/variables.scss";

#root {
  margin: 0 auto;
  padding: 0;

  min-height: 100vh;
  min-width: 100vw;
}

@keyframes appear {
  0% {
    transform: translateX(-100%);
    background: white;
    color: rgb(51, 51, 51);
  }

  100% {
    transform: translateX(0);
    color: white;
    background: linear-gradient(45deg, #7223cf, #da2eb8);
  }
}

@keyframes balance {
  0% {
    transform: rotate(15deg);
  }

  100% {
    transform: rotate(30deg);
  }
}

main {
  min-height: 100vh;
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: $bg-primary;

  .header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 24px;
  }

  .logo-container {
    .logo-text {
      display: flex;
      align-items: start;
      justify-content: center;
      flex-direction: column;

      a {
        text-decoration: none;
      }

      .logo-text-bold {
        text-decoration: none;
        font-weight: 600;
        font-size: 24px;

        &:hover {
          background: linear-gradient(45deg, #7223cf, #da2eb8);
          -webkit-background-clip: text; /* Usa o fundo para recortar o texto */
          -webkit-text-fill-color: transparent; /* Torna o interior do texto transparente para exibir o gradiente */
          cursor: pointer;
        }
      }
    }
  }

  .menu-toggle {
    display: none; // Esconde o botão por padrão
    flex-direction: column;
    cursor: pointer;

    .bar {
      height: 3px;
      width: 25px;
      background: white;
      margin: 3px 0;
    }
  }

  .menu-options {
    display: flex;
    align-items: center;
    gap: 12px;

    a {
      font-weight: 500;
      font-size: 16px;
      text-decoration: none;
      color: white;
      cursor: pointer;

      &:hover {
        color: $color-primary;
        transition: all 500ms;
      }
    }

    button {
      border-radius: 24px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      background-color: transparent;
      overflow: hidden;
      position: relative;

      div {
        padding: 16px 24px;
        height: 100%;
        width: 100%;
        border-radius: 24px;
        border: none;
        cursor: pointer;
      }

      .btn-face-white {
        background-color: white;
        color: rgb(51, 51, 51);
        z-index: 998;
      }

      .btn-face-purple {
        display: none;
        z-index: 999;
        position: absolute;
        top: 0;
      }

      &:hover {
        .btn-face-purple {
          display: flex;
          animation: appear 300ms linear 150ms forwards;
        }
      }
    }
  }

  @media (max-width: 768px) {
    .menu-options {
      display: none; // Esconde o menu por padrão em telas pequenas
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    .menu-options.active {
      display: flex; // Mostra o menu quando ativo
      flex-direction: column;
    }

    .menu-toggle {
      display: flex; // Mostra o botão hamburguer em telas pequenas
    }
  }

  button {
    border-radius: 24px;
    border: none;
    font-weight: 500;
    font-size: 16px;
    background-color: transparent;
    overflow: hidden;
    position: relative;

    div {
      padding: 16px 24px;
      height: 100%;
      width: 100%;
      border-radius: 24px;
      border: none;
      cursor: pointer;
    }

    .btn-face-white {
      background-color: white;
      color: rgb(51, 51, 51);
      z-index: 998;
    }

    .btn-face-purple {
      display: none;
      z-index: 999;
      position: absolute;
      top: 0;
    }

    &:hover {
      .btn-face-purple {
        display: flex;
        animation: appear 300ms linear 150ms forwards;
      }
    }
  }
  .content-container {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    flex-grow: 1;
    min-height: 80vh;

    h1 {
      font-size: 52px;
    }

    .bubble {
      background: #351348;
      border-radius: 100%;
      position: absolute;
      display: flex;
      align-items: center;
      justify-content: center;

      &.fire {
        right: 20px;
        transform: rotate(-20deg);
        bottom: 18%;
        font-size: 24px;
        width: 50px;
        height: 50px;
      }
      &.rocket {
        top: 22%;
        right: 80px;
        transform: rotate(15deg);
        font-size: 42px;
        width: 80px;
        height: 80px;
      }
      &.shop {
        left: 5%;
        transform: rotate(-20deg);
        bottom: 13%;
        font-size: 36px;
        width: 70px;
        height: 70px;
      }
      &.target {
        left: -120px;
        transform: rotate(30deg);
        top: 10%;
        font-size: 60px;
        animation: balance 1000ms alternate 400ms infinite;
        width: 100px;
        height: 100px;
      }
    }
  }

  @media (max-width: 768px) {
    .header-container {
      padding: 16px;
    }

    .logo-container {
      margin-bottom: 16px;
    }

    .menu-options {
      flex-direction: column;
      align-items: flex-start;
      gap: 8px;
    }

    .content-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h1 {
        font-size: 36px; // Reduzir o tamanho da fonte em telas menores
      }
    }

    .bubble {
      &.fire {
        right: 10px;
        bottom: 20%;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
      &.rocket {
        right: 30px;
        font-size: 30px;
        width: 60px;
        height: 60px;
      }
      &.shop {
        left: 2%;
        bottom: 15%;
        width: 50px;
        height: 50px;
        font-size: 24px;
      }
      &.target {
        left: 100px;
        top: 5%;
        width: 80px;
        height: 80px;
        font-size: 48px;
      }
    }
  }

  @media (max-width: 480px) {
    .header-container {
      padding: 12px;
    }

    .menu-options {
      font-size: 14px; // Reduzir o tamanho da fonte ainda mais
    }

    .content-container {
      h1 {
        font-size: 28px; // Tamanho da fonte ainda menor
      }
    }

    .bubble {
      &.fire {
        right: 5px;
        bottom: 15%;
        width: 30px;
        height: 30px;
        font-size: 16px;
      }
      &.rocket {
        right: 50px;
        font-size: 24px;
        width: 50px;
        height: 50px;
      }
      &.shop {
        left: 1%;
        bottom: 10%;
        width: 40px;
        height: 40px;
        font-size: 20px;
      }
      &.target {
        left: 200px;
        top: 3%;
        width: 60px;
        height: 60px;
        font-size: 36px;
      }
    }
  }

  .contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    font-size: 30px;

    h1 {
      padding-bottom: 30px;
    }

    .link-contato {
      display: flex;
      align-items: center; /* Alinha o conteúdo verticalmente ao centro */
      text-decoration: none; /* Remove a sublinhado dos links */
      padding: 15px 0; /* Espaçamento entre os itens */
      color: white;
    }

    .link-contato svg {
      margin-right: 10px; /* Espaçamento entre o ícone e o texto */
      width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
      height: 30px;
      fill: currentColor; /* Faz o ícone herdar a cor do texto */
    }

    .link-contato p {
      margin: 0; /* Remove o espaçamento padrão do parágrafo */
      font-size: 22px; /* Ajuste o tamanho da fonte conforme necessário */
    }

    .link-contato:hover {
      color: $color-primary;
    }
  }

  .container {
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 5%;
    background: linear-gradient(45deg, #7223cf, #da2eb8);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .title {
      padding: 20px;
      border-bottom: 0.5px solid white;
      width: 80%;
    }

    .section {
      padding: 30px;
      border-bottom: 0.5px solid white;
      width: 80%;

      .link-contato {
        display: flex;
        align-items: center; /* Alinha o conteúdo verticalmente ao centro */
        text-decoration: none; /* Remove a sublinhado dos links */
        padding: 15px 0; /* Espaçamento entre os itens */
        color: white;
      }

      .link-contato svg {
        margin-right: 10px; /* Espaçamento entre o ícone e o texto */
        width: 30px; /* Ajuste o tamanho do ícone conforme necessário */
        height: 30px;
        fill: currentColor; /* Faz o ícone herdar a cor do texto */
      }

      .link-contato p {
        margin: 0; /* Remove o espaçamento padrão do parágrafo */
        font-size: 22px; /* Ajuste o tamanho da fonte conforme necessário */
      }

      .link-contato:hover {
        color: $bg-primary;
      }

      .logos {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 25px;
        padding: 40px;
        flex-wrap: wrap; // Permite quebrar linha quando necessário
      }

      .btn-link {
        display: inline-flex;
        align-items: center;
        margin-top: 15px;
        padding: 10px 15px;
        font-size: 1rem;
        border-radius: 24px;
        text-decoration: none;
        border: none;
        font-weight: 500;
        font-size: 16px;
        background-color: white;
        color: rgb(51, 51, 51);
        border: none;
        cursor: pointer;
      }

      .hidden {
        background: #351348;
        border-radius: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 5%;

        img {
          display: flex;
          align-items: center;
          justify-content: center;
          max-width: 100%;
          height: auto; // Mantém a proporção da imagem
        }
      }

      /* Media Queries para diferentes tamanhos de tela */
      @media (max-width: 1024px) {
        .logos {
          gap: 15px; // Reduz o espaço entre os itens
          padding: 30px; // Ajusta o espaçamento
        }

        .hidden {
          padding: 8%; // Reduz o tamanho do elemento
        }
      }

      @media (max-width: 768px) {
        .logos {
          gap: 10px; // Reduz ainda mais o espaço
          padding: 20px;
        }

        .hidden {
          padding: 10%; // Ajusta o tamanho do círculo
        }
      }

      @media (max-width: 480px) {
        .logos {
          flex-direction: column; // Alinha os itens em uma coluna
          gap: 10px;
          padding: 15px;
        }

        .hidden {
          padding: 15%; // Ajusta o tamanho para telas muito pequenas
        }
      }
    }

    button {
      border-radius: 24px;
      border: none;
      font-weight: 500;
      font-size: 16px;
      background-color: white;
      color: rgb(51, 51, 51);
      padding: 16px 24px;
      height: 100%;
      width: 100%;
      border-radius: 24px;
      border: none;
      cursor: pointer;
      margin: 20px;

      a {
        text-decoration: none;
        color: rgb(51, 51, 51);
      }
    }
  }

  .carousel {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20px;
  }

  .btn-carousel {
    background: none;
    border: none;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3rem; /* Tamanho padrão dos botões */

    &:hover {
      transform: scale(1.3);
    }
  }

  .projetos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 15px;
    transition: transform 0.3s ease;
  }

  .projetos img {
    width: 90%; /* Garante que a imagem se ajuste ao container */
    max-width: 900px; /* Mantém um limite para telas grandes */
    height: auto;
    object-fit: contain;
    border-radius: 10px;
  }

  /* Responsividade */
  @media (max-width: 1024px) {
    .carousel {
      gap: 15px;
    }

    .btn-carousel {
      font-size: 2.5rem; /* Reduz um pouco os botões */
    }

    .projetos img {
      max-width: 700px;
    }
  }

  @media (max-width: 768px) {
    .carousel {
      gap: 10px;
    }

    .btn-carousel {
      font-size: 2rem; /* Diminui ainda mais os botões */
      width: 25px;
      height: 25px;
    }

    .projetos img {
      max-width: 400px;
    }
  }

  @media (max-width: 480px) {
    .carousel {
      gap: 5px;
    }
    .btn-carousel {
      z-index: 10;
      pointer-events: all;
      margin: -40px;
    }
  }
  .skills-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 2rem;
    padding: 2rem 1rem;
  }

  .skill-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
  }

  .skill-icon {
    background: #351348;
    border-radius: 100%;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s ease;

    img {
      width: 50px;
      height: 50px;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  .skill-name {
    margin-top: 10px;
    font-size: 14px;
    text-align: center;
  }

  /* Botões de navegação colados no centro */
  .btn-inferior-seta {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  .btn-inferior-seta button:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    margin-right: -1px; /* Remove qualquer espaço entre os botões */
  }

  .btn-inferior-seta button:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    margin-left: -1px; /* Remove qualquer espaço entre os botões */
  }

  .title-projects {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 60px;
    /*background: linear-gradient(45deg, #7223cf, #da2eb8);
    -webkit-background-clip: text;  
    -webkit-text-fill-color: transparent; */

    h2 {
      align-items: center;
      justify-content: center;
    }

    .emoji {
      -webkit-background-clip: unset;
      -webkit-text-fill-color: initial;
      background: none;
      margin-left: 8px;
    }
  }
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $bg-primary;
  padding: 5px;

  div {
    border-top: 0.5px solid white;
    width: 80%;
    padding: 10px;
    margin-top: 20px;
  }

  p {
    display: flex;
    margin-bottom: 0;
    align-items: center;
    justify-content: center;
  }

  a {
    color: white;
    text-decoration: none;
  }
}
